<div class="bg-light p-4">
  <h5 class="text-center">This is Angulaer Reddit Project</h5>
</div>
<div class="container  mt-5">
   <div class="row">
     <div class="col-md-6 offset-md-3">
       <div class=" bg-light p-4 rounded">
         <div class="mb-3">
           <div class="mb-2">
             <h6>Add Link:</h6>
           </div>
           <label class="form-label">Title:</label>
           <input type="text" class="form-control" name="input1" id="inpu1" #Tiltle>
         </div>
         <div class="mb-3">
           <label class="form-label">Link:</label>
           <input type="text" class="form-control" name="input2" id="inpu2" #Link>
         </div>
         <div class="my-2">
           <button type="submit" class="btn btn-dark" (click)="formsubmit(Tiltle,Link)">submit!</button>
         </div>
       </div>

     </div>
   </div>
</div>
<div class="mt-5">
  <app-list-component></app-list-component>
</div>

